
.dashboard-div {
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    // border: 1px solid red;
}

.clearfix {
    zoom: 1;
}

.posts-main-div {
    margin-top: 30px;
    display: flex;
    max-width: 1000px;
    
    // border: 1px solid rgb(255, 0, 170);
}

.recommended-blogs-div {
    margin-left: 50px;
    height: 700px;
    width: 320px;
    font-size: 17px;
    color: white;

    // border: 1px solid yellow;
}

.recommended-blogs---div {
    // border: 1px solid red;
}

.RCB {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 2px solid #566a81;
}

.RCB:hover{
    cursor: default;
}

.RCB-div {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .25);
    
    // border: 1px solid red;
}

.canfollow-user-img-div {
    min-width: 230px;
    max-width: 250px;
    min-height: 45px;
    max-height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    // border: 1px solid purple;
}

.can-follow-user-img {
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.can-follow-username {
    padding-left: 10px;
    
}

.follow-button-div {
    display: flex;
    align-items: center;
    // border: 1px solid green;
}

.follow-button {
    border-radius: 10px;
    background: none;
    border: none;
    padding: 0;
}

.follow-button:hover {
    background-color: white;
    background: none;
    border: none;
    padding: 0;
}

.follow-button:focus {
    outline: 0;
}

.fa-plus-square {
    font-size: 30px;
    height: 0px;
    color: rgb(189, 181, 181);
    background-color: black;
}

.fa-plus-square:hover {
    font-size: 30px;
    height: 0px;
    color: #00b8ff;
    background-color: white;
}


.posts-form-div {
    display: flex;
    justify-content: flex-end;
    // border: 3px solid green;
    margin-bottom: 20px;

}

.user-img {
    display: flex;
    justify-content: start;
    height: 64px;
    width: 64px;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.posts-index-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    // border: 2px solid red;
}

.posts-index-list > * {
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: sans-serif;

    // border: 1px solid green;
}


.post--header-div {
    display: flex;
    justify-content: start;
    align-items: center;
    max-height: 50px;
    min-height: 40px;
    font-size: 15px;
    padding-left: 20px;
    font-weight: bold;
}

.post--header-div > p {
    cursor: pointer;
}

.cog-icon {
    color: gray;
    font-size: 20px;
}

.far-heart, .fa-heart {
    font-size: 20px;
}

.likedheart {
    color: #ff492f;
}


.post-all-footer-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 50px;
    max-width: 580px;
    padding: 10px;
    font-size: 14px;
}

.footer-flex-div {
    // min-width: 70px;
    min-width: 280px;
    max-width: 580px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 10px;

    position: absolute;
    padding-bottom: 20px;
}

.msg:hover {
    cursor: default;
}

.setting-dropwdown-div {
    max-height: 75px;
    min-width: 120px;
    color: gray;
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    top: 65%;
    right: -15%;
    border-radius: 5px;
}

.setting-dropwdown-div>ul>li {
    padding: 10px;
    cursor: pointer;
}

.setting-dropwdown-div>ul>*:hover {
    background-color: rgb(200, 231, 241);
}

.close-dropdown {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.post--user-pic-div {
    display: flex;
    width: 70px;

    // border: 2px solid purple;
}

.user-img----div {
    display: flex;
    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 64px;
    margin-right: 15px;
    position: sticky;
    top: 10%;
    cursor: pointer;
    
    // border: 1px solid green;
}

.post--user-pic {
    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 64px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: relative;
}


.user-post-info-dropdown-div {
    position: absolute;
    bottom: -100%;
    left: -70%;
    min-height: 50px;
    max-height: 50px;
    min-width: 250px;
    background-color: rgb(132, 169, 179);
    // border: 2px solid red;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-username-div {
    // border: 1px solid green;
    padding: 5px;
    font-size: 16px;
    font-family: Arial,
    Helvetica,
    sans-serif;
    font-weight: bold;
    color: white;
    font-style: italic;
    cursor: pointer;
}

.unfollow-buttn-div {
    // border: 1px solid green;
    padding: 5px;
}

.user-dropdown-icon {
    padding-right: 10px;
    color: white;
    font-size: 22px;
}

.unfollow-buttn-div>button {
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: rgb(132, 169, 179);
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.unfollow-buttn-div>button:focus {
    outline: 0;
}

// ---------------------------------------------------------------
.post-media {
    // border: 5px solid yellow;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

.post-media-main {
    background-color: white;
    // border: 1px solid green;
    min-width: 580px;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.post-media-content,
.post-media-div {
    min-width: 580px;
    min-height: 300px;
    max-height: 950px;
    max-width: 580px;
    background-size: cover;
    background-position: center;
}

video.post-media-div:focus {
    outline: 0;
}

.post-media-audio-div {
    min-width: 580px;
    min-height: 70px;
    max-height: 950px;
    max-width: 580px;
    background-size: cover;
    background-position: center;
}

.post-media-audio-div:focus {
    outline: 0;
}


.post-media-body-div {
    // min-height: 75px;
    max-width: 580px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


// --------------------------------------------------------------

.post-quote {
    // border: 5px solid yellow;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

.post-quo-main {
    background-color: white;
    // border: 1px solid green;
    min-width: 580px;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.post-quo-title-div {
    // min-height: 45px;
    max-width: 580px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.post-quo-body-div {
    // min-height: 75px;
    max-width: 580px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

// -----------------------------------------------------------------

.post-link {
    // border: 5px solid yellow;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

.post-link-main {
    background-color: white;
    // border: 1px solid green;
    min-width: 580px;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.post-link-title-div {
    // min-height: 45px;
    max-width: 580px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    
}

.post-link-body-div {
    max-width: 580px;
    max-width: 580px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}


// --------------------------------------------------------------------

.post-text {
    // border: 5px solid yellow;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
}

.post-text-main {
    background-color: white;
    // border: 1px solid green;
    min-width: 580px;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}


.post-text-title-div {
    // min-height: 45px;
    max-width: 580px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.post-text-body-div {
    max-width: 580px;
    max-width: 580px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

// --------------------------------------------------------------

.post-chat {
    // border: 5px solid yellow;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
}

.post-chat-main {
    background-color: white;
    // border: 1px solid green;
    min-width: 580px;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.post-chat-title-div {
    // min-height: 45px;
    max-width: 580px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.post-chat-body-div {
   max-width: 580px;
    max-width: 580px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}


// ---------------------------------
