
.dashboard-div {
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.clearfix {
    zoom: 1;
}

// .clearfix:after {
//     clear: both;
// }

.posts-main-div {
    // border: 1px solid rgb(255, 0, 170);
    margin-top: 30px;
    display: flex;
    max-width: 1000px;
}

.recommended-blogs-div {
    margin-left: 50px;
    // border: 1px solid yellow;
    height: 700px;
    width: 320px;
    font-size: 17px;
    color: white;
}

.posts-form-div {
    display: flex;
    justify-content: flex-end;
    // border: 3px solid green;
    margin-bottom: 20px;

}

.user-img {
    display: flex;
    justify-content: start;
    height: 64px;
    width: 64px;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
    border-radius: 5px;
}

.posts-index-list {
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.posts-index-list > * {
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: sans-serif;
}


.post--header-div {
    display: flex;
    justify-content: start;
    align-items: center;
    max-height: 50px;
    min-height: 40px;
    font-size: 15px;
    padding-left: 20px;
    font-weight: bold;
}

.cog-icon {
    color: gray;
    font-size: 20px;
}

.far-heart, .fa-heart {
    font-size: 20px;
}

.post-all-footer-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 50px;
    max-width: 580px;
    padding: 10px;
    font-size: 14px;
}

.footer-flex-div {
    // min-width: 70px;
    min-width: 280px;
    max-width: 580px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 10px;

    position: absolute;
    padding-bottom: 20px;
}

.Look-for-me {
    max-height: 75px;
    min-width: 120px;
    color: gray;
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    top: 65%;
    right: -15%;
    border-radius: 5px;
}

.Look-for-me > ul > li {
    padding: 10px;
    cursor: pointer;
}

.Look-for-me > ul > li:hover {
    background-color: lightblue;
}

// .close-dropdown {
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
// }


// ---------------------------------------------------------------
.post-media {
    // border: 5px solid yellow;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

.post-media-user-pic-div {
    display: flex;
    width: 70px;
    // border: 2px solid purple;
}

.post-media-user-pic {
    display: flex;
    height: 64px;
    width: 64px;
    min-height: 64px;
    min-width: 64px;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
    border-radius: 5px;
    position: sticky;
    top: 10%;
}

.post-media-main {
    background-color: white;
    // border: 1px solid green;
    min-width: 580px;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.post-media-content,
.post-media-div {
    min-width: 580px;
    min-height: 300px;
    max-height: 950px;
    max-width: 580px;
    background-size: cover;
    background-position: center;
}

.post-media-audio-div {
    min-width: 580px;
    min-height: 70px;
    max-height: 950px;
    max-width: 580px;
    background-size: cover;
    background-position: center;
}

.post-media-body-div {
    // min-height: 75px;
    max-width: 580px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


// --------------------------------------------------------------

.post-quote {
    // border: 5px solid yellow;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

.post-quo-user-pic-div {
    display: flex;
    width: 70px;
    // border: 2px solid purple;
}

.post-quo-user-pic {
    display: flex;
    height: 64px;
    width: 64px;
    min-height: 64px;
    min-width: 64px;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
    border-radius: 5px;
    position: sticky;
    top: 10%;
}

.post-quo-main {
    background-color: white;
    // border: 1px solid green;
    min-width: 580px;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.post-quo-title-div {
    // min-height: 45px;
    max-width: 580px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.post-quo-body-div {
    // min-height: 75px;
    max-width: 580px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

// -----------------------------------------------------------------

.post-link {
    // border: 5px solid yellow;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

.post-link-user-pic-div {
    display: flex;
    width: 70px;
    // border: 2px solid purple;
}

.post-link-user-pic {
    display: flex;
    height: 64px;
    width: 64px;
    min-height: 64px;
    min-width: 64px;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
    border-radius: 5px;
    position: sticky;
    top: 10%;
}

.post-link-main {
    background-color: white;
    // border: 1px solid green;
    min-width: 580px;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.post-link-title-div {
    // min-height: 45px;
    max-width: 580px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    
}

.post-link-body-div {
    max-width: 580px;
    max-width: 580px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}


// --------------------------------------------------------------------

.post-text {
    // border: 5px solid yellow;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
}

.post-text-user-pic-div {
    display: flex;
    width: 70px;
    // border: 2px solid purple;
}

.post-text-user-pic {
    display: flex;
    height: 64px;
    width: 64px;
    min-height: 64px;
    min-width: 64px;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
    border-radius: 5px;
    position: sticky;
    top: 10%;
}

.post-text-main {
    background-color: white;
    // border: 1px solid green;
    min-width: 580px;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}


.post-text-title-div {
    // min-height: 45px;
    max-width: 580px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.post-text-body-div {
    max-width: 580px;
    max-width: 580px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

// --------------------------------------------------------------

.post-chat {
    // border: 5px solid yellow;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
}

.post-chat-user-pic-div {
    display: flex;
    width: 70px;
    // border: 2px solid purple;
}

.post-chat-user-pic {
    display: flex;
    height: 64px;
    width: 64px;
    min-height: 64px;
    min-width: 64px;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
    border-radius: 5px;
    position: sticky;
    top: 10%;
}

.post-chat-main {
    background-color: white;
    // border: 1px solid green;
    min-width: 580px;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.post-chat-title-div {
    // min-height: 45px;
    max-width: 580px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.post-chat-body-div {
   max-width: 580px;
    max-width: 580px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}


// ---------------------------------
