// .backgroundImage {
//     min-height: 100%;
//     min-width: 1024px;
//     width: 100%;
//     height: auto;
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: -3;
// }

.backgroundImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}

.splash-logo-div {
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: 10px;
    margin-left: 40px;
    z-index: 1;
    width: 90%;
    display: flex;
    justify-content: space-between;

    // border: 1px solid red;
}

.splash-logo:hover {
    color: red;
    cursor: pointer;
}

.splash-logo {
    font-size: 40px;
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
}

.splash-home {
    // background-image: image-url("snowbord.jpg");
    // background-size: cover;
    // background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.splash-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sportsblr {
    color: antiquewhite;
    font-size: 64px;
    margin: 10px;
    font-family: sans-serif;
    font-weight: bolder;
}

.slogan {
    color: antiquewhite;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.sportsblr:hover, .slogan:hover {
    cursor: default;
}

.get-started {
    background-color: #00b8ff;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 5px;
    color: white;
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

.log-in {
    background-color: white;
    padding: 10px;
    padding-left: 118px;
    padding-right: 119px;
    border-radius: 5px;
    color: black;
    margin-bottom: 120px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}
