.backgroundImage {
    position: fixed;
    top: 0;
    right: 31%;
    bottom: 0;
    left: 31%;
    margin: 0 -600px;
    background-size: cover;
    z-index: -3;
}

.splash-home {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -2;
}

#root {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    // overflow-y: scroll;
}

.splash-home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.splash-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.sportsblr {
    color: antiquewhite;
    font-size: 68px;
}

.get-started {
    background-color: rgb(7, 145, 199);
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 5px;
    color: antiquewhite;
    margin: 20px;
}

.log-in {
    background-color: rgb(227, 231, 233);
    padding: 10px;
    padding-left: 115px;
    padding-right: 115px;
    border-radius: 5px;
    color: black;
}
