
// /* Mobile Styles */
// @media only screen and (max-width: 400px) {
// }

@viewport {
    width: device-width;
    zoom: 1.0;
}


@media only screen and (max-width: 600px) {

    .form-container, .form-box, .form {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 20%;
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
    
    .posts-main-div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 20%;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        max-width: 300px;
        z-index: -1;
    }

    .icons-box {
        width: 80%;
        z-index: 4;
    }

    .posts-index-list {
        top: 20%;
    }
    .posts-index-list> * {
        margin-bottom: 30px;
        border-radius: 5px;
        min-height: 300px;
        font-family: sans-serif;
        width: 80%;
        max-width: 300px;
        right: 20%;

    .post-img-main {
        background-color: white;
        width: 80%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
    }

    .post-img {
        min-height: 300px;
        max-height: 950px;
        max-width: 350px;
        right: 20%;
        width: 80%;
        background-size: cover;
        background-position: center;
    }

    .post-quo-main {
        background-color: white;
        right: 20%;
        width: 80%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
    }

    .post-link-main {
        background-color: white;
        right: 20%;
        width: 80%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
    }

    .post-chat-main {
        background-color: white;
        right: 20%;
        width: 80%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
    }
    .modal-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 20%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 300px;
        overflow-y: auto;
        z-index: 5;
    }

}

// /* Tablet Styles */
// @media only screen and (min-width: 401px) and (max-width: 960px) {
// }

// /* Desktop Styles */
// @media only screen and (min-width: 961px) {
// }

// @media screen and (max-width: 320px) {

//     /* comes into effect for screens less than or equal to 320 pixels */
//     #somethingorother {
//         width: 120px;
//     }
// }

// @media screen and (min-width: 321px) and (max-width: 480px) {

//     // /* comes into effect for screens between 321 and 480 pixels (inclusive) */
//     // #somethingorother {
//     //     width: 320px;
//     // }
// }

// @media screen and (min-width: 481px) {

//     /* comes into effect for screens larger than or equal to 481 pixels */
//     #somethingorother {
//         width: 480px;
//     }
// }
// 
}