
.modal-background {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 25, 53, .95);
    
    // border: 1px solid red;
    overflow-x: auto;
    overflow-y: auto;
}
.modal-div {
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    // border: 1px solid red;
}

.modal-main-div {
    display: flex;
    margin-top: 30px;
    max-width: 1000px;

    // border: 1px solid rgb(238, 18, 165);
    overflow-x: auto;
}

.modal-empty-space {
    margin-left: 20px;
    width: 320px;
    // border: 1px solid yellow;
}

.modal-box {
    border-radius: 5px;
    max-height: 750px;
    
    // border: 2px solid red;
    width: 690px;
    overflow-x: auto;
    overflow-y: auto;
}




