.logo:hover {
    color: red;
    cursor: pointer;
}

.logo {
    font-size: 50px;
    color: rgb(240, 240, 247);
    margin: 10px;
}

.navbar {
    height: 60px;
}

.left-nav {
    display: flex;
}

.nav-loggedin {
    border-bottom: 2px solid rgb(59, 75, 80);
}

.right-nav > .logout {
    // display: flex;
    // justify-content: flex-end;
    position: absolute;
    top: 4%;
    left: 93.5%;
    transform: translate(-50%, -50%);
}

.fas {
    color: white;
    position: absolute;
    top: 4%;
    left: 83.5%;
    transform: translate(-50%, -50%);
}

.right-nav > ul, .user-dropdown > ul > li {
    list-style: none;
}


.user-dropdown {
    display: none;
    // padding: 20px;
}

.icon-li:hover .user-dropdown {
    display: block;
    border: 2px solid rgb(228, 223, 223);
    position: absolute;
    top: 7%;
    left: 83.5%;
    transform: translate(-50%, -50%);
    width: 100px;
}

.user-dropdown:hover .logout-dropdown {
    display: block;
}


