.logo:hover {
    color: red;
    cursor: pointer;
}

.logo {
    font-size: 50px;
    color: white;
    margin: 10px;
}

.navbar {
    height: 60px;
}

.left-nav {
    display: flex;
}

.nav-loggedin {
    border-bottom: 1px solid rgb(145, 193, 207);
}

.fas {
    color: white;
    position: absolute;
    top: 4%;
    left: 93.5%;
    transform: translate(-50%, -50%);
}

.right-nav > ul, .user-dropdown > ul > li {
    list-style: none;
}

.icon-li:hover {
    cursor: pointer;
}

.account {
    display: none;
}

.icon-li:hover .account {
    display: block;
    border: 2px solid rgb(228, 223, 223);
    position: absolute;
    top: 7%;
    left: 93.5%;
    transform: translate(-50%, -50%);
    width: 100px;
}

// .user-dropdown {
//     display: none;
// }

// .icon-li:hover .user-dropdown {
//     display: block;
//     border: 2px solid rgb(228, 223, 223);
//     position: absolute;
//     top: 7%;
//     left: 93.5%;
//     transform: translate(-50%, -50%);
//     width: 100px;
// }

// .user-dropdown:hover .logout-dropdown {
//     display: block;
// }
