.post-form-box {
    display: flex;
    min-width: 650px;
    // border: 3px solid green;

}

.text-form-modal-user-pic-div {
    display: flex;
    width: 70px;
    // border: 2px solid purple;
    margin-right: 10px
}

.text-form-modal-user-pic {
    display: flex;
    height: 64px;
    width: 64px;
    min-height: 64px;
    min-width: 64px;
    background-size: cover;
    background-position: center;
    margin-right: 25px;
    border-radius: 5px;
    // position: sticky;
    // top: 10%;
}

.text-form {
    // border: 3px solid red;
    min-width: 580px;
    max-width: 580px;
    background-color: white;
    border-radius: 5px;
}

.post-form-header {
    width: 545px;
    height: 20px;
    font-size: 13px;
    font-family: sans-serif;
    padding: 15px 15px 10px 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.post-form-footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px 20px;
    text-align: center;
    border-top: 1px solid lightgray;
    border-radius: 0 0 5px 5px;
}

.close-button {
    width: 60px;
    height: 30px;
    padding: 5px 7px;
    background-color: #9DA6AF;
    border: none;
    border-radius: 2px;
    text-align: center;
    font-size: 13px;
    color: white;
    cursor: pointer;
}

.submit-button {
    width: 60px;
    height: 30px;
    padding: 5px 7px;
    background-color: #00B8FF;
    border: none;
    border-radius: 2px;
    text-align: center;
    font-size: 13px;
    color: white;
    cursor: pointer;
}

.photo-form {
    // border: 3px solid red;
    width: 580px;
    background-color: white;
    border-radius: 5px;
}

.upload {
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.upload-file {
    color: #989898;
    text-align: center;
    font-size: 14px;
    width: 540px;
    padding: 5px 20px;
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
    background-color: #f2f2f2;
    height: 150px;
    cursor: pointer;
}

.post-media-form {
    font-size: 45px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.photo-body-text {
    width: 540px;
    padding: 20px 20px;
    height: 30px;
    border: none;
    font-size: 13px;
    resize: none;
}

.fa-smile, .vid, .aud {
    font-size: 15px;
    font-weight: bold;
    padding-top: 15px;
    color: #989898;
    cursor: pointer;
}

.media-prev {
    display: block;
    margin: 0 auto;
    width: 580px;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-text {
    font-size: 35px;
    width: 500px;
    padding: 5px 20px;
    height: 50px;
    border: none;
    resize: none;

    // border: 5px solid red;
}

textarea:focus,
input:focus {
    outline: 0;
}

.chat-text {
    font-size: 35px;
    width: 500px;
    padding: 5px 20px;
    min-height: 37px;
    border: none;
    resize: none;
    height: 50px;
    // border: 5px solid red;
}


.quote-text {
    font-size: 35px;
    padding: 5px 20px;
    width: 500px;
    word-wrap: break-word;
    border: none;
    height: 80px;
    // border: 5px solid red;
    resize: none;
}

.qoute-body-text {
    width: 500px;
    padding: 20px 20px;
    height: 30px;
    border: none;
    font-size: 13px;
    resize: none;
}

.link-text {
    font-size: 14px;
    width: 560px;
    border: none;
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
    background-color: rgb(242, 242, 242);
    height: 65px;
    padding-left: 20px;
    padding-top: 35px;
    resize: none;
}

.link-body-text {
    width: 500px;
    padding: 20px 20px;
    height: 30px;
    border: none;
    font-size: 13px;
    resize: none;
}

.body-text {
    width: 500px;
    padding: 20px 20px;
    height: 70px;
    border: none;
    font-size: 13px;
    resize: none;
    // border: 5px solid rgb(50, 141, 27);
}