.post-form-box {
    display: flex;
    justify-content: flex-end;
    min-width: 650px;
    // border: 3px solid green;
}

.text-form {
    // border: 3px solid red;
    width: 580px;
    background-color: white;
}

.post-form-header {
    width: 545px;
    height: 20px;
    font-size: 13px;
    padding: 15px 15px 10px 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    background-color: white;
    text-align: center;
}

.title-text {
    font-size: 35px;
    width: 540px;
    padding: 5px 20px;
    min-height: 37px;
    border: none;
}

.body-text {
    width: 540px;
    padding: 20px 20px;
    height: 150px;
    border: none;
    font-size: 13px;
    resize: none;
}

.post-form-footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px 20px;
    text-align: center;
    border-top: 1px solid lightgray;
    border-radius: 0 0 5px 5px;
}

.close-button {
    width: 51px;
    height: 30px;
    padding: 5px 7px;
    background-color: #9DA6AF;
    border: none;
    border-radius: 2px;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 13px;
}

.submit-button {
    width: 62px;
    height: 28px;
    padding: 5px 10px;
    background-color: #00B8FF;
    border: none;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    color: white;
}

// .photo-post {
//     width: 100%;
// }

.upload {
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.upload-file {
    color: black;
    text-align: center;
    font-size: 14px;
    width: 540px;
    padding: 5px 20px;
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
    background-color: rgb(242, 242, 242);
    height: 170px;
}

.post-camera {
    font-size: 45px;
    padding: 20px 0 15px 0;
}

.photo-form {
    background-color: white;
}

.photo-body-text {
    width: 540px;
    padding: 20px 20px;
    height: 75px;
    border: none;
    font-size: 13px;
    resize: none;
}

.fa-smile {
    font-size: 20px;
    padding: 30px 0 0 0;
}

.image-prev {
    display: block;
    margin: 0 auto;
    width: 540px;
    background-size: cover;
    background-repeat: no-repeat;
}

.quote-text {
    font-family: cursive;
    font-size: 25px;
    padding: 2px 20px;
    width: 500px;
    word-wrap: break-word;
    border: none;
    font-size: 30px;
    font-family: sans-serif;
}

.link-text {
    display: flex;
    justify-content: space-around;
    color: black;
    font-size: 14px;
    width: 545px;
    border: none;
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
    background-color: rgb(242, 242, 242);
    height: 150px;
    padding-left: 35px;
    font-family: sans-serif;
}

