
.form-container {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.linkto-flex {
    position: absolute;
    display: flex;
    max-width: 120px;
    top: 1%;
    right: 5%;

}

.link-to {
    background-color: rgba(227, 231, 233, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 800;
}

.form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin-right: 70px;
}

.Sportsblr {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
    color: rgba(17, 69, 238, .7);
    padding-top: 120px;
    margin: 40px;
    font-family: sans-serif;
    font-weight: bolder;
}

.Sportsblr:hover {
    cursor: default;
}

.input-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(181, 191, 192);
}

.input-div > input {
    padding: 10px;
    width: 295px;
    font-size: 20px;
}

.errors {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.errors > ul {
    background-color: rgba(211, 211, 211, 0.9);
    border-radius: 3px;
}

.errors ul > li {
    padding: 10px;
    color: rgb(247, 17, 17);
}

.form > button {
    cursor: pointer;
    margin: 3px 0;
    margin-top: 5px;
    padding: 10px;
    border: 1px transparent;
    border-radius: 3px;
    width: 320px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.signup-session {
    background-color: #00b8ff;
}

.demo {
    background-color: rgba(55, 139, 235, .9);
}
