.link-to {
    background-color: rgb(227, 231, 233);
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    position: absolute;
    top: 5%;
    left: 93.5%;
    transform: translate(-50%, -50%);
}

.form-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: scroll;
}

.Sportsblr {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
    color: rgba(17, 69, 238, .7);
    padding-top: 100px;
}

.form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.input-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(181, 191, 192);
}

.input-div > input {
    padding: 10px;
    width: 300px;
    font-size: 20px;
}

.errors {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.errors > ul {
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 3px;
}

.errors ul > li {
    list-style: none;
    padding: 10px;
    color: rgb(243, 61, 61);
}

.form > button {
    cursor: pointer;
    margin: 3px 0;
    margin-top: 5px;
    padding: 10px;
    border: 1px transparent;
    border-radius: 3px;
    width: 320px;
    font-size: 20px;
}
